// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

.text{
    font:500 16px $font-family;
    color:$dark-black; 
}
.dropdown__header{
    font:500 14px $font-family;
    color:$light-gray; 
}
h4,.section--subhead{
    font:500 14px $font-family;
    color:$gray;
    letter-spacing: 2px;
    text-align: center; 
}
h2,.section--headers{
    font:500 56px $font-family;
    color:$black;
    letter-spacing:0;
    text-align: center; 
    span{
        font-weight: 400;
    }
}

h2, .section--headers{
    @include mq('sm',max){
    font-size: 40px;
 }
}



