// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------
.container{
    max-width: 1600px;
    margin:0 auto;
  }

// inputs 
.input__text{
  vertical-align: top;
  max-width: 450px;
    width:100%;
    @include border($rad:4px);
    @include padding($value1:24px,$value2:25px);
    background-color: $color-text-light;
    @include margin($right:31px,$bottom:10px); 
    outline: none;
    border:none;
    @include transition;
    &::placeholder{
        @include base($font-family,18px,500,$gray-light);
    }
    @include mq("sm",max){
        max-width: 400px;
        width:100%;
        @include padding($value1:24px,$value2:10px);

    }
}

.features,.properties,.agents,.deals,.agencies,.article,.values{
    @include padding(120px,100px,90px,100px);
    text-align: center;
}

@include mq('md',max){
    .features,.properties,.agents,.deals,.agencies,.article,.values{
        @include padding(50px,20px,50px,20px);
    }
   
}

@include mq('lg',max){
    .features,.properties,.agents,.deals,.agencies,.article,.values{
        @include padding(50px,30px,50px,30px);
    }
   
}





