// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------
img{
    width:100%;
    height:auto;
}
.container{
    @include center;
  }
  
  .clearfix::after{
        content:'';
        display: table;
        clear:both;
    }

// inputs 
.input__text{
 display: inline-block;
    @include border($rad:4px);
    width:30%;
    vertical-align: top;
    padding: 25px 25px;
    background-color: $color-text-light;
    margin-right:20px;
    margin-bottom:10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
    @include border($bord:none);
    @include transition;
    &::placeholder{
        font-weight:500;
        font-size:18px;
        color:$gray-light;
    }
    @include mq("lg",max){
        width:100%;
        }
}

.features,.properties,.agents,.deals,.agencies,.article,.values{
    padding:120px 100px;
    text-align: center;
}

@include mq('md',max){
    .features,.properties,.agents,.deals,.agencies,.article,.values{
        padding:50px 20px;
    }
   
}

@include mq('lg',max){
    .features,.properties,.agents,.deals,.agencies,.article,.values{
        padding:50px 30px;
    }
   
}





