// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// ---------------


.hero{
    @include backgroundimg('/src/images/hero-bg-image_2022-04-11/hero-bg-image.png');
    padding-top:1px;
    &__container{
        margin:157px auto 0 auto; 
        width:80%;
        text-align: center;
        @include mq('xl',max){
            width:90%;
            margin-top:100px;
        }
      
    }
    &__inputs{
        background-color:$white;
        padding:29px;
         width:100%;
        font-size:0;
        text-align: center;
        // @include mq("sm",max){
        //     padding:10px;
        //    }
    }
    & .icon-dropdown{
        display:inline-block;
        background-color: $color-text-light;
       font-size:20px;
       padding:10px;
       @include border($rad:4px);
       margin-right:20px;
       margin-bottom:10px;
       text-align: left;
           @include mq("lg",max){
           width:100%;
           }
    }
    &__dropdown1{
        width:20%;
        display: inline-block;
        @include transition;
        @extend %clearfix;
    }
    &__dropdown2{
        display: inline-block;
        width:calc(100%/6);
        @include transition;
        @extend %clearfix;
    //    @include mq("sm",max){
    //     width:100%;
    //     max-width: 400px;
       
    //    }
    }
    .dropdowns{
            left:0;
            top:65px;
    }
    &__header{
        font:500 42px $font-family;
        color:$white;
        text-align: left;
    }
    &__subhead{
        font:18px $font-family;
        color:$white;
        text-align: left;
    }
    &__content{
        padding-bottom: 53px;
    }
    .dropdown__header{
        display: inline-block;
    }
}


//features styles
.features{
  
  &__allcards{
        padding-top: 120px;
        font-size: 0;
    }
    &__box{
     width:calc(90%/3);
     display: inline-block;
     background-color:#fafafa;
     margin:10px;
     @include border($rad:4px);
     @include transition;
     cursor: pointer;
        @include mq("lg",max){
            width:100%;
            max-width: 400px;
    }   
    }
    &__box{
        box-shadow: 0 0 90px -15px rgba(41, 44, 28, 0.1);
      
    }
  

    &__img{
        position: relative;
    }

    &__top{
        position: absolute;
        top:10px;
        width:100%;
        padding:10px;
        @extend %clearfix;
    }
    &__bottom{
        position: absolute;
        bottom:10px;
        width:100%;
        padding:10px;
        @extend %clearfix;
    }
    &__btns{
        padding:8px;
        float:left;
        font:500 12px $font-family;
        color:$color-text;
        letter-spacing: 0;
        margin-right:6px;
    }
    &__icon{
        width:30px;
        height:30px;
        @extend %icons;
        margin-right:8px;
        float:right;
        padding:8px;
        background-color: #000000;
       background-color: #2a42e8;
    }
    &__text{
        font:500 15px $font-family;
        color:$btn-blue;
        letter-spacing: 0;
        background-color: $white;
        padding:5px;
        @include border($rad:4px);
        float:left;
    }
    &__icn{
        width:30px;
        height:30px;
        @extend %icons;
        margin-right:8px;
        float:right;
        padding:8px;
        background-color: #000000;
    }
    &__content{
        padding:30px 18px;
        @extend %clearfix;
        text-align: left;
    h4{
        font:20px $font-family;
        text-align: left;
        color:#1d1d1d;
        letter-spacing: 0;
        line-height: 32px;
        margin-top:20px;
    }
    .location__icon{
        font:14px $font-family;
        color:#848484;
        letter-spacing: 0;
        text-align: left;
         img{
             vertical-align: middle;
    
         }
         span{
             width:15px;
             height:15px;
             display: inline-block;
           
         }
     }
    }
    &__details1{
        padding-top:23px;
        .icons__left{
            float:left;
            font:14px $font-family;
            color:$color-btn-primary;
            letter-spacing: 0;
            text-align: left;
             img{
                 vertical-align: middle;
        
             }
             span{
                 width:15px;
                 height:15px;
                 display: inline-block;
               
             }
        }
        .icons__right{
            float:right;
            font:14px $font-family;
            color:#848484;
            letter-spacing: 0;
            text-align: left;
             img{
                 vertical-align: middle;
        
             }
             span{
                 width:15px;
                 height:15px;
                 display: inline-block;
               
             }
        }
    } 
    &__details2{
       padding-top:60px;

        .details2__left{
            float: left;
            font:14px $font-family;
            color:#111111;
            letter-spacing: 0;
            text-align: left;
             img{
                 vertical-align: middle;
        
             }
             span{
                 width:15px;
                 height:15px;
                 display: inline-block;
               
             }
        }
        b{
            font:500 16px;
        }

        .details2__right{
            float:right;
            .details2__icons{
                font:14px $font-family;
                color:$black;
                letter-spacing: 0;
                text-align: left;
                 img{
                     vertical-align: middle;
            
                 }
                 span{
                     width:15px;
                     height:15px;
                     display: inline-block;
                   
                 }
                font:500 16px $font-family;
                margin-right:8px;
              
            }
            a:last-child{
                margin-right:0;
            }
          
        }
    } 
        .btn--black{
            margin-top:68px;
        }
     

    }
//deals
.deals{
    &__details{
       
        @include widthcalc('deals__image',100%,2,560px);
        padding-top:80px; 

        .deals__image{
            @include mq('lg',max){
                width:100%;
                max-width: 500px;
             }
        }

        
    }
  
    &__subhead{
        font:18px $font-family;
        letter-spacing: 0;
        text-align: center;
        color:$light-gray;
        margin-bottom:37px;
          }
    &__head{  
        font:500 36px $font-family;    
        color:$white;
        letter-spacing: 0;
        text-align: center;     
       margin-bottom:37px;
       @include mq('sm',max){
        font-size: 30px;
       }
       } 
    &--img1{
        img{
            width:100%;
            height:100%;      
         }
    }
    
    &--img2{
        background-color:#292929;
        vertical-align: top;
        padding:59px 8px;
        @include mq('sm',max){
            padding:20px 2px;
        }
        
    }
    .btn--orange{
        padding:10px 25px;
        font:18px $font-family;
        color:$white;
        letter-spacing: 0;
        span{
            font-weight: 500;               
        }
        @include mq('sm',max){
            padding-right:10px;
            padding-left:10px;
            font-size: 16px;
           }
    }

    &__locations{
        font:18px $font-family;
        color:$light-gray;
        letter-spacing: 0;
        text-align: center;
         margin-bottom:37px;  
    }
    &_location{
        width:17px;
        height:17px;
        display: inline-block;
        img{
            vertical-align: middle;
          }
    }
    &__icons{
        @extend %clearfix;
        display:inline-block;
        vertical-align:middle;
        padding-right: 20px;
        @include mq('sm',max){
            padding-right: 10px;
        }
       
    }
    &__icon{
        padding-top: 60px;
    }

    &__playicon{
        margin:60px auto 0 auto;
        width:60px;
        height:60px;
       
    }
    &__icn{
        display: inline-block;
        width:40px;
        height:40px;

        @include mq('xl',max){
            width:30px;
            height:30px;
        }
        @include mq('sm',max){
            width:20px;
            height:20px;
        }
    }
    &__text{
        float: right;
        padding-left: 4px;
        font:18px $font-family;
        letter-spacing: 0;
        color:$light-gray;
        span{
            font-weight: 500;
        }
        @include mq('sm',max){
           font-size: 14px;
        }
    }

  
}


//properties

.properties{
    font-size:0;

    &__images{
    @include overlaytext('properties__text');
    padding-right:20px;
    padding-left:20px;
    @include border($rad:6px); 
    @include mq('md',max){
        padding-top: 20px;
        padding-bottom: 20px;
}
   
    }
    &__text{
       bottom:10px;
        padding-left:20px;
        padding-bottom: 20px;
        text-align: left;
    }
    &__head{
        font:500 32px $font-family;
        color:$color-text;
        letter-spacing: 3px;
            @include mq('md',max){
                font-size: 25px;
        }
    }
    &__subhead{
        display: inline-block;
        font:18px $font-family;
        color:$color-text;
        letter-spacing: 0;
    }
    &__icon{
        display: inline-block;
       img{
           vertical-align: bottom;
       }
    }
    &__box1,&__box2{
        font-size: 0;
        padding-top:89px;
        padding-bottom:20px;
        
        @include mq("md",max){
            padding-top:0;
            padding-bottom:0;
         }
       
    }
    &__box1{
        @include mq("md",max){
        padding-top: 50px;
        }
    }
    &__box2{
        @include mq("md",max){
        padding-bottom: 50px;
        }
    }
    &--image1{
        display: inline-block;
       width:35%;
        img{
            width:100%;
            height:100%;
         }
         @include mq("md",max){
            width:100%;
            max-width:500px; 
         }
     
    }
    &--image2{
        display: inline-block;
        width:65%;
        img{
         width:100%;
         height:100%;

        }
        @include mq("md",max){
            width:100%;
            max-width: 500px;   
         }
    }
    .prop__img{
        position: relative;
        display: inline-block;
        width:100%;
        height:360px;
        cursor:pointer;
        transition: transform 1s ease-in-out;
        &::before{
            position:absolute;
            content:"";
            top:0;
            left:0;
            background-color: rgba(0, 0, 0, 0.3);
            width:100%;
            height: 100%;
        }
        &:hover{
            transform: scale(1.1);
        }
    }
}

//agents
.agents{
    background-color: #f3f3f3;
    &__cards{
        padding-top: 120px;
        font-size: 0;
    }
    &__profile{
        padding:30px;
     width:calc(90%/3);
     display: inline-block;
     background-color:#fafafa;
     margin:10px;
     @include border($rad:4px);
     @include transition;
     cursor: pointer;
        @include mq('lg',max){
                width: 100%;
                max-width: 500px;
                margin:0 0 50px 0;
        }     
    }
    &__name{
        font:36px $font-family;
        color:$black;
        letter-spacing: 0.2px;
        text-align: center;
       margin-top:15px;
       }
   &__text{
       font:18px $font-family;
       color:#636363;
       letter-spacing: 0;
       text-align: center;
       padding-top:15px;
   }
 
    &__img{
        display: inline-block;
        width:100%;
    }
    &__type{
        font:18px $font-family;
        letter-spacing: 0;
        color:#999999;
        text-align: left;
        margin-top:28px;
    }

    &__name{
        text-align: left;
    }
    &__text{
        text-align: left;
        padding-top: 29px;
    }
}
.social__icon{
    padding-top:45px;
    text-align: left;
}
.social--icons{
    width:60px;
    height:60px;
    display: inline-block;
    padding:18px 18px;
    @include border($bord:1px solid #ececec,$rad:4px);
}

//sale
.sale{
    @include backgroundimg('/src/images/hero-bg-image_2022-04-11/hero-bg-image.png');
    &__content{
        width:57%;
        position: absolute;
        top:50%;
        left:35%;
        transform: translate(-50%,-50%);
        z-index: 100;
       background-color:#2842cd;
       @include border($rad:6px);
       padding:90px 120px 90px 76px;
       @include mq('md',max){
           padding:40px 30px;
        
}
        @include mq('sm',max){
            width:80%;
            @include cont-center(50%);
            padding:20px;
            
        }
    }
    h5{
        font:500 60px $font-family ;
        color:$color-text;
        margin-bottom:35px;
        line-height:60px;
              @include mq('md',max){
               font-size: 50px;
       }
       @include mq('sm',max){
        font-size:45px;
        line-height:44px;
        }
       }
    p{
        font:20px/30px $font-family;
        color:#c6cbea;
        margin-bottom:42px;
        @include mq('sm',max){
           font-size: 18px;
        }
    }
    .right-icon{
        @extend %icons;
    }
}

//agencies

.agencies{
    
    
    text-align:center;
  
   &__allcards{
       padding-top: 120px;
       font-size: 0;
   }
   &__cards{
    width:calc(90%/3);
    display: inline-block;
    background-color:#fafafa;
    margin:10px;
    @include border($rad:4px);
    @include transition;
    padding:30px;
    cursor: pointer;
    @include mq('lg',max){
        width:100%;
        max-width: 500px;
       margin:0 0 30px 0;
    }
   }
   &__name{
    font:36px $font-family;
    color:$black;
    letter-spacing: 0.2px;
    text-align: center;
    margin-top:15px;
    }
    &__text{
        font:18px $font-family;
        color:#636363;
        letter-spacing: 0;
        text-align: center;
        padding-top:15px;
    }
    &__icn{
        @extend %clearfix;
        font:16px $font-family;
        letter-spacing: 0;
        color:676767;
        text-align: center;
        span{
            @extend %icons;
            vertical-align: top;
         }
    }
    &__icon1{
        float:left;
      
    }
    &__icon2{
        float:right;
    }
    &__img{
        margin:60px auto 0 auto;
        height: 100px;
        img{
           width:auto;
           height:100%;
        }
    }
    &__flag{
        padding-top:32px;
        font:18px $font-family;
        text-align: center;
        letter-spacing: 0;
        color:#999999;
    }
    &__logo{
        @extend %icons;
        vertical-align: top;
    } 
      
    &__text{
        padding-top:15px;
        padding-bottom: 20px;
}
}



//article

.article{
    background-color:#f3f3f3;
    text-align: center;

    &__cards{
        padding-top: 120px;
        font-size: 0;
    }
    &__category{
     width:calc(90%/3);
     display: inline-block;
     background-color:#fafafa;
     margin:10px;
     @include border($rad:4px);
     @include transition;
     cursor: pointer;
     text-align: left;
        @include mq("md",max){
            width:100%;
            max-width:500px;
        } 
    }
    &__content{
        padding:20px;

        h4{
            font:500 26px $font-family;
            letter-spacing: 0;
            text-align: left;
            color:$black;
            margin-top:16px;
            min-height:150px;
            @include mq("lg",max){
                font-size:24px;
                min-height:100px;
            }
            @include mq("md",max){
                min-height: 50px;
            }

        }
    }
    .btn--primary{
        font:13px $font-family;
        letter-spacing: 0;
        padding:8px 14px;
        display: inline-block;
    }
  
    &__img{
        display: inline-block;
        margin-top:50px;
        font:14px $font-family;
        letter-spacing: 1px;
        color:$black;
        span{
            @extend %icons;
            vertical-align: top;
        } 
       
    }
    .btn--black{
        margin-top:120px;
    }
}


.feed{
    @include backgroundimg('/src/images/testimonials-bg-1_2022-04-13/testimonials-bg-1.png');

    &__details{
        padding:100px;
        @include mq("md",max){
            padding: 30px;
            text-align: center;
        }
    }
    &__subhead{
        font:14px $font-family;
        letter-spacing: 2px;
        color:$text-white; 
    }
    &__head{
        color:$white;
        letter-spacing: 0;
        font:56px $font-family;
        margin-bottom:108px;
        span{
            font-weight: 500;
        }
        @include mq("md",max){
            font-size:54px;
        }
       
    }
    &__content{
        font:500 30px $font-family;
        color:$text-white;
        letter-spacing: 1px;
        line-height: 48px;
        @include mq("md",max){
            font-size: 25px;
            line-height: 40px;
        }
    }
    &__clients{
        padding-top: 59px;
    }
    &__img{
        display:inline-block;
        vertical-align:middle;
        width:90px;
        height:70px;
        padding-left: 7px;
        padding-right: 7px;
    
        img{
          width:100%;
          height:100%;
           @include border($rad:50%);
          
        }
    }
    &__client{
        display:inline-block;
        vertical-align:middle;
        :first-child{
            font:500 24px $font-family;
            letter-spacing: 0.8px;
            color:$text-white;
        }
        :last-child{
            font:15px $font-family;
            color:#fafafa;
            letter-spacing: 0.5px;
          }
    }
}

//values

.values{
    text-align: center;

    &__allcards{
        padding-top: 120px;
        font-size: 0;
        padding-bottom:63px;
    }
    &__card{
     width:calc(90%/3);
     display: inline-block;
     background-color:#fafafa;
     margin:10px;
     @include border($rad:4px);
     @include transition;
     box-shadow: 0 0 90px 0 rgba(41, 44, 28, 0.08);
     padding: 20px;
     min-height: 340px;
     cursor: pointer;
        @include mq("lg",max){
            width:100%;
            max-width: 500px;
            margin:0 0 20px 0;
          
        }
        h5{
            font:28px/36px $font-family;
            color:$black;
            letter-spacing: 0;
            text-align: left;
            margin-top:19px;
            min-height: 70px;
            @include mq("xl",max){
                font-size:20px;
            }
        }
        p{
            font:16px/28px $font-family;
            color:#999999;
            letter-spacing: 0;
            text-align: left;
            margin-top:21px;
        }
    }

    &__img{
        text-align: left;
        width:45px;
        height:45px;
        img{
            vertical-align:bottom;
        }
      
    }
       
}






