// -----------------------------------------------------------------------------
// This file contains all application-wide Sass placeholders.
// -----------------------------------------------------------------------------

%btn{
    font-size:16px;
    text-align:center;
    font-weight: $font-bold;
    display: inline-block;
}
