// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$font-family: Rubik, Arial,sans-serif;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;


//colors
$white-100:#f8f9fc;
$text-base:#fff;
$green-100:#6fdeaa;
$green-200:#1fdb84;
$blue-100:#5b6c94;
$blue-200:#313a5a;
$blue-300:#32325c;
$blue-400:#031d5b;








//Media queries breakpoints
$breakpoints: (
    "sm":        600px,
    "md":       768px,
    "lg":      992px,
    "xl":      1124px,
);