// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn{
    &--orange{
        @extend %btn;
        background-color:$color-btn-orange;
        padding:36px;
    }
    &--primary{
        @extend %btn;
        background-color:$color-primary;
        padding:24px 29px;
        vertical-align: top;
        display: inline-block;
    }
    &--black{
        @extend %btn;
        @include border($rad:29px);
        letter-spacing: 2px;
        background-color: $color-text-dark;
        padding:20px 30px;
        display: inline-block;
        @include mq('sm',max){
            font-size: 16px;
            padding:18px 24px;
        }
    }
    &--light{
        display: inline-block;
        @extend %btn;
        letter-spacing:0;
        color:$color-btn-primary;
        background-color: #eaedfd;
        padding:15px 20px;
    }
}
