// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer{
    background-color:#151515;
    .container{
        @include center(2000px);
    }
    &__top{
        @include border($bord:1px solid rgba(255, 255, 255, 0.07));
        border-top:0;
        @extend %clearfix;   
        text-align: center;
    }
    &__logo{
        float:left;
     img{
         width:100%;
         height:auto;
     }
      padding-left:120px;
      padding-top:30px;
      padding-right: 120px;
      @include mq("lg",max){
          padding-left:30px;
          padding-right: 30px;
      }
      @include mq("md",max){
        float:initial;
        padding-top: 14px;
      }
  
        }
  
    &__icons{
        float:right;
        font-size: 0;
        @include mq("sm",max){
            float:initial;
        }
    
    }
    &__social{
        display: inline-block;
       width:100px;
       height:100px;
       @include border($bord:1px solid rgba(255, 255, 255, 0.07));
        border-top:0;
        img{
           padding: 40px;
            vertical-align: middle;
            @include mq("md",max){
                padding: 20px;
            }
        }
        @include mq("md",max){
            width:80px;
            height:80px;
        }
    }
    &__content{
        padding:120px 120px 90px 120px;
        @extend %clearfix;
        @include mq("lg",max){
            padding:40px 50px;
            }
    }
    &__sections{
        display: inline-block;
        vertical-align: top;
        padding-right: 40px;
        li:first-child{
            font:500 16px $font-family;
            color:rgba(255, 255, 255, 0.7);
            letter-spacing: 1.14px;
            margin-bottom: 49px;
        }
        @include mq("lg",max){
            width:100%;
            padding-right:0;
            padding-bottom:50px;
            }
    }
    &__lists{
        float:left;
        @include mq("lg",max){
            float:initial;
           
        }
    }
    &__address{
        float:right;
        @include mq("lg",max){
            float:initial;
        }
    }
    &__list{
        margin-bottom:22px;
      
    }
    &__link{
        font:16px $font-family;
        letter-spacing: 1.14px;
        color:rgba(255, 255, 255, 0.5);
        @include links;
    }
    &__address{
        
        h6{
            font:500 16px $font-family;
            color:rgba(255, 255, 255, 0.7);
            letter-spacing: 1.14px;
            margin-bottom:36px;
           
        }

        p{
            font:16px/24px $font-family;
            letter-spacing: 1.14px;
            color:rgba(255, 255, 255, 0.5);
        }
        span{
           font-weight: 500;
        }
    }
    &__bottom{
        padding:60px 120px;
        @include border($bord:1px solid rgba(255, 255, 255, 0.07));
        @include mq("lg",max){
            padding:60px 50px;
        }
        a{
            @include links;
        }

        span{
            font:14px $font-family;
            color:$footer-color;
            letter-spacing: 1px;
            @include mq("lg",max){
                float: initial;
             }
        }

        a{
            font:500 14px $font-family;
             color:$footer-color;
             letter-spacing: 1px;
            float:right;
            margin-right:20px;
            @include mq("lg",max){
               float: initial;
            }
        }
    }

    }
   