// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer{
    background-color:#151515;
    .container{
        @include center(2000px);
    }
    &__top{
        @include border($bord:1px solid rgba(255, 255, 255, 0.07));
        border-top:0;
        text-align: center;
        @include mq("md",max){
            padding-top:30px;
    
          }
    }
    &__logo{
        float:left;
        padding:20px 30px;
        svg{
            width:181px;
        }
      @include mq("md",max){
        float:initial;

      }
  
        }
  
    &__icons{
        float:right;
        font-size: 0;
        @include mq("md",max){
            float:initial;
            padding-top:30px;
        }
    
    }
    &__social{
        display: inline-block;
       padding:32px;
       @include border($bord:1px solid rgba(255, 255, 255, 0.07));
        border-top:0;
    }
    &__icn{
        width:26px;
        height:26px;
        fill:#fff;
    }
    &__content{
        padding:120px 120px 90px 120px;
        @include mq("lg",max){
            padding:40px 50px;
            }
            @include mq("xl",max){
                padding:40px 40px;
                }
    }
    &__sections{
        display: inline-block;
        vertical-align: top;
        padding-right: 40px;
        li:first-child{
            font-weight: 500;
            font-size: 16px;
            color:rgba(255, 255, 255, 0.7);
            letter-spacing: 1.14px;
            margin-bottom: 49px;
        }
        @include mq("lg",max){
            width:100%;
            padding-right:0;
            padding-bottom:50px;
            }
    }
    &__lists{
        float:left;
        @include mq("lg",max){
            float:initial;
           
        }
    }
    &__address{
        float:right;
        @include mq("lg",max){
            float:initial;
        }
    }
    &__list{
        margin-bottom:22px;
      
    }
    &__link{
        font-size: 16px;
        letter-spacing: 1.14px;
        color:rgba(255, 255, 255, 0.5);
        @include links;
    }
    &__address{
        
        h6{
            font-weight:500;
            font-size:16px;
            color:rgba(255, 255, 255, 0.7);
            letter-spacing: 1.14px;
            margin-bottom:36px;
           
        }

        p{
            font-size:16px;
            line-height: 24px;
            letter-spacing: 1.14px;
            color:rgba(255, 255, 255, 0.5);
        }
        span{
           font-weight: 500;
        }
    }
    &__bottom{
        padding:60px 120px;
       
        @include border($bord:1px solid rgba(255, 255, 255, 0.07));
        @include mq("xl",max){
            padding:60px 20px;
            text-align: center;
        }
     

        span{
            font-size: 14px;
            color:$footer-color;
            letter-spacing: 1px;
            @include mq("lg",max){
                display: block;
                margin-bottom:10px;
             }
        }

        a{
            font-size: 14px;
            font-weight: 500;
             color:$footer-color;
             letter-spacing: 1px;
            float:right;
            margin-right:20px;
            @include links;
            @include mq("lg",max){
               float: initial;
            }
        }
    }

    }
   