// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header{
    @extend %clearfix;
    padding:17px 0 17px 31px;
    @include mq('xl',max){
            padding:10px 20px;  

    }
    &__nav{
        @include mq('xl',max){
                position: absolute;
                right:100%;
                top:0;
                transform:translate(100%);
                text-align: center;
                z-index:0;
                width:100%;
        }
    }
  
    
    &__logo{
        float:left;
    }
    &__icons{
        float: right;
       padding:10px 0 10px 10px;
        @include mq('xl',max){
            position:absolute;
            bottom:-83%;
            right:100%;
            width:100%;
            transform:translate(100%);
            text-align: center;
            z-index:100;
            padding:0;
    
        li{
           width: 100%;
            background-color: rgba(36, 37, 37);
            color:$color-text;
            padding:20px 20px;
        }
    }
    @include mq('xl',max){
        .nav-change{  
            transform:translate(0%);  
           }
        
    }
    }
 
    &__list{
        float:left;
       padding: 10px;
    @include mq('xl',max){
        width:100%;
        padding: 0;
        li{
            width:100%;
             background-color: rgba(36, 37, 37);
             color:white;
            padding: 20px;
             
         }
          a{
            opacity:1;
            font-size:17px;
        }
    }        
    }
    &__lists{
        display:inline-block;
    }
    &--links{
        font:500 14px $font-family;
        color:$color-text-links;
        margin-left:27px;
        display: inline-block;
        vertical-align: middle;
        @include links;
        @include mq('xl',max){
            margin-left:0;
            .btn--orange{
                display: block;
            }
        }
    }
    .check__icon{
        margin-right:71px;
        margin-left:10px;
        cursor: pointer;
        @include mq('xl',max){
            margin-left:0;
            margin-right:0;
    }
}
    .heart__icon{
        margin-right:41px;
        cursor: pointer;
        @include mq('xl',max){
            margin-right:0;
    }
    }

}

.menu-btn{
    display: none;
    &:checked ~ .menu-icon .navicon{
        background: transparent;
    }
}
                    
.menu-icon{
    display:none;
    cursor: pointer;
    float: right;
    position: relative;
    padding: 28px 20px;
    @include mq('xl',max){
        display: block;
    }   

}
.bar{
    width:50px;
    height:2px;
     z-index: 100;
     position: relative;
     display: block;
     background-color: green;  
     
    &::before,&::after{
        position:absolute;
        display:block;
        content: "";
        right:0;
        width:100%;
        height:100%;
         background-color:$black; 
    }
    &::after{
        top:12px;
    }
    &::before{
        bottom:12px;
      }
    }


.dropdowns{
    position:absolute;
    display: none;
    background-color:$color-btn-orange;
   transition: all 0.5s ease-in;
    z-index:100;
    width:100%;
    & li{
        text-align: center;
        padding:10px 20px;
        
        a{
            color:$white;
        }
        &:hover{
            background-color: red;
        }
    }
}
.icon-dropdown{
    position:relative;
    cursor: pointer;
    &:hover .dropdowns{
        display: block;
    }
}



.icn{
    width:10px;
    height:10px;
    display: inline-block;
    cursor: pointer;
}




















