// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
//Media query mixin
@mixin mq($width,$type:min){
    @if map_has_key($breakpoints,$width){
        $width:map-get($breakpoints,$width);
        // @if $type==max{
        //     $width:$width;
        // }
        @media only screen and (#{$type}-width:$width) {
                @content;
        }
    }
}
@mixin links{
    transition:all 0.3s ease-out;
     &:hover{
        color:#2a41e8;
     }
 }

@mixin center($max-width:980px,$margin:0 auto){
    max-width:$max-width;
    margin:$margin;
}


//interpolation
// @mixin widthcalc($child:null,$perc:null,$no:null,$height:null){
//     font-size:0;
//     .#{$child}{
//         width:calc($perc/$no);
//         display:inline-block;
//         height:$height;
//     }
// }

// @mixin overlaytext($child){
//     position:relative;
//     .#{$child}{
//         position:absolute;
//         // $top:$top;
//         // $bottom:$bottom;
//     }
// }


@mixin backgroundimg($url){
    background-image: url($url);
    min-height:670px;
    background-position: center;
    background-size:cover;
    width:100%;
    position:relative;
    @content;
}

@mixin transition($backgclr:null,$color:null){
    transition:all 0.3s ease-in-out;
    &:hover{
        background-color: $backgclr;
        box-shadow: $color-shadow;
        color:$color;
    }
}

@mixin border($bord:null,$rad:null){
    border:$bord;
    border-radius:$rad;
}

// @mixin cont-center($left:null){
//     position: absolute;
//     top:50%;
//     left:$left;
//     transform: translate(-50%,-50%);
//     z-index: 100;
// }
// @mixin psuedo($color,$psued:after,$top:null,$left:null,$right:null,$bottom:null){
//     &::#{$psued}{
//         position:absolute;
//         content: "";
//         $top:$top;
//         $right:$right;
//         $left:$left;
//         $bottom:$bottom;
//         width:100%;
//         height:100%;
//          background-color: $color;  
//          @content;
//     }
  
// }





// @mixin theme($name, $color) {
//     // Define colors in your theme
//     $primary: $color;
//     $secondary: lighten(adjust-hue($color, 20), 10%);
//     // Add your classes with css colors added
//     .#{$name} {
//       .element {
//         color: $primary;
//       }
//       .other-element {
//         background: $secondary;
//       }
//     }
//   }

// .theme-banana .element {
//     color: yellow;
//   }
//   .theme-banana .other-element {
//     background: #bbff33;
//   }


// @mixin base($font-family:null,$font-siz:null,$font-weigh:null,$color:null,$letter-spac:null,$align:null){
//     font-family: $font-family;
//     font-size: $font-siz;
//     font-weight: $font-weigh;
//     color:$color;
//     letter-spacing:$letter-spac;
//     text-align: $align;
// }

// @mixin dropdowns{
//     @include position($disp:none,$top:20px,$left:10px);
//     background-color:$color-btn-orange;
//    transition: all 0.5s ease-in;
//     z-index:100;
//     width:100%;
//     & li{
//         padding:10px 30px;
        
//         a{
//             color:$white;
//         }
//         &:hover{
//             background-color: red;
//         }
//     }
//    }   

// @mixin psuedocoloreffect{
//     &::before{
//         @include position($content:"",$top:0,$left:0);
//         background-color: rgba(0, 0, 0, 0.3);
//         width:100%;
//         height: 100%;
//     }
// }

// @mixin size($width:null,$height:null,$max-width:null,$min-width:null,$displ:null){
//     width:$width;
//     height:$height;
//     max-width: $max-width;
//     min-width: $min-width;
//     display:$displ;
// }


// @mixin cards($name){
//     @include widthcalc($name,90%,3);
//     text-align:center;

//     .#{$name}{
//         background-color: $white;
//         margin:10px;
//         @include border($rad:4px);
//         @include transition;
//         cursor: pointer;
//     }
// } 






// @mixin font-style1($color){
//     @include base($font-family,18px,400,$color,0,center);
    

// }

// @mixin font-style2($color){
//     @include base($font-family,36px,400,$color,0.2,center);

// }

// @mixin font-style3($color){
//     @include base($font-family,16px,400,$color,0,center);
// }


// @mixin cardstext{
//  &__name{
//      font:36px $font-family;
//      color:$black;
//      letter-spacing: 0.2px;
//      text-align: center;
//     margin-top:15px;
//     }
// &__text{
//     font:18px $font-family;
//     color:#636363;
//     letter-spacing: 0;
//     text-align: center;
//     padding-top:15px;
// }
// }




// @mixin features__icon($color,$displ:null){
//     font:14px $font-family;
//     color:$color;
//     letter-spacing: 0;
//     text-align: left;
//      img{
//          vertical-align: middle;

//      }
//      span{
//          width:15px;
//          height:15px;
//          display: inline-block;
       
//      }
    
//  }


