// -----------------------------------------------------------------------------
// This file contains all application-wide Sass placeholders.
// -----------------------------------------------------------------------------

// %clearfix{
//     &::after{
//         content:'';
//         display: table;
//         clear:both;
//     }
// }

%btn{
    font:500 16px $font-family;
    color:$color-text;
    letter-spacing: 1px; 
    @include border($rad:4px);
    @include transition($backgclr:$gray);

}


%icons{
    width:17px;
    height:17px;
    display: inline-block;
}

   
