// -----------------------------------------------------------------------------
// This file contains all application-wide Sass placeholders.
// -----------------------------------------------------------------------------

%clearfix{
    &::after{
        content:'';
        display: table;
        clear:both;
    }
}

%btn{
    @include base($font-family,16px,500,#fff,1px);
    @include border($rad:4px);
    @include transition($backgclr:$gray);

}

%image{
    width:100%;
    height:auto;
}

%icons{
    @include size(17px,17px);
    display: inline-block;
    img{
        @extend %image;
    }
}



        %img{
            img{
                @extend %image;
                vertical-align: bottom;
                }
        }
